body {
	background-color: #fafafa;
}

/**

to use a google font, copy the css rule from the google font 
review column just like you copied the link to the font 
The link goes to yout index.html
the rule goes here in your css as the font-family

**/

.container {
	margin: 0 auto;
	width: 960px;
	font-size: 100%;
	line-height: 1.5;
	text-align: center;
	font-family: 'Merriweather', serif;
	border: 2px solid blue;
}

/**

Typography

**/

h1 {
	font-size: 96px;
	letter-spacing: -1px;
}

h2 {
	font-size: 36px;
	color: #3d4245;
}

p {
	font-size: 21px;
	color: #9b9d9c;
}

.page-header p {
	font-size: 48px;
}

.page-header {
	margin-top: 72px;
	margin-bottom: 120px;
}

section {
	margin-bottom: 196px;
	padding: 0 24px;
	/**
	border: 2px solid black;
	margin-left: 10px;
	margin-right: 10px;
	**/
}

section p {
	margin-bottom: 24px;
}

section header img {
	width: 100px;
}

section footer img {
	margin: 0 12px;
}