body {
 background-color:white;
}

.container {
    width: 960px;
    margin: 0 auto;
    font-size: 100%;
    line-height: 1.5;
    text-align: center;
}

.contact-us {

}

.site-navigation {
    background-image: url(../img/page-background.gif);
    font-family: 'Montserrat', sans-serif;
    padding: 16px;
}

nav ul {
    display: flex;
    margin-left: 150px;
}

nav li {
    margin: 0 24px;
    padding: 0 16px;
    color: white;
}

nav ul li a {
	display: inline-block;
	text-decoration: none;
	text-align: center;
    color: #fff;
}

ul li a:hover {
    
}

h1 {
    display: none;
}
