body {
 background-color:white;
}

.container {
    width: 960px;
    margin: 0 auto;
    font-size: 100%;
    line-height: 1.5;
    text-align: center;
}

.contact-us {

}

.site-navigation {
    background-image: url(../img/page-background.gif);
    font-family: 'Montserrat', sans-serif;
    padding: 16px;
}

nav ul {
    display: flex;
    margin-left: 245px;
    margin-right: 245px;
    margin-top: 10px;
}

nav li {
    padding: 0 16px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
	display: inline-block;
    text-decoration: underline;
	text-align: center;
    color: #fff;
}

h1 {
    display: none;
}
